#beacon {
    color: #C5CAE9;
    background-color: #1A237E;

    h1, h2, h3, h4, h5, h6 {
        color: #C5CAE9;
    }
}

#chesslocker {
    background-color: #5D4037;
    color: #D7CCC8;

    h1, h2, h3, h4, h5, h6 {
        color: #D7CCC8;
    }
}

#orange {
    background-color: #FF7043;
    color: #212121;

    h1, h2, h3, h4, h5, h6 {
        color: #212121;
    }
}

#help {
    background-color: #F06292;
    color: #212121;

    h1, h2, h3, h4, h5, h6 {
        color: #212121;
    }
}

#quicklauncher {
    background-color: #009688;
    color: white;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}

#medmember {
    background-color: #42A5F5;
    color: white;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}